@model mvcTest.Models.Studentmodel
<html>
    <body>
        <div>
        StudentID: @Model.StudentId <br />
        StudentName: @Model.StudentName <br />
        Department: @Model.Department <br />
        Course: @Model.Course <br />
        </div>
    </body>
    
</html>